@charset "UTF-8";

/*
PALETAS DE CORES
#708CCD
#5E8CF7
#7FE4FA
*/

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: transparent;
    
}

body, html{
    background: url(../img/04.jpg) repeat;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%);
    overflow: hidden;
    width: 350px;
    height: 500px;
    
    
    
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
    border: 4px solid #708ccd2f ;
    
   

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: url(../img/04.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    margin: 2px;
    border-radius: 10px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    color: #708CCD;
}

form > div.campo{
    border: 4px solid;
    display: block;
    border-radius: none;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: #708CCD;
   
}

div.campo > input{
    color: black;
    font-size: 1em;
    width: 100%;
    height: 80%;
    padding: 0px;
    border-radius: none;
    padding: 4px;
    border: 2px;
    transform: translateY(-0px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 98.5%;
    height: 100%;
    padding: 1px;
    background-color: #708CCD;
    color: black;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin: 1px;
    padding: 8px;
    
}

form > a.botao{
    color: white ;
    margin: 1px;
    
    
}


form > a.botao:hover{
    background-color: #708CCD;
    color: black;
    margin: 1px;
    
}